/* Fixed-width textareas everywhere. */
textarea {
    font-family: MonoSpace !important;
    font-size: 14px !important;
}

/* GMail useless ad block */

table.Bs.nH.iY > tr > td + td,
table.Bs.nH.iY > tr > td + td + td
{
  display: none;
}


/* GMail messages. */
    div.ii, input {
        font-family: MonoSpace !important;
	font-size: 14px !important;
    }

/* original
@-moz-document domain(mail.google.com)
{
    div.ii, input {
        font-family: MonoSpace !important;
	font-size: 14px !important;
    }
}
*/
